<table class='table table-striped'>
    <tr>
        <th ng-repeat='grid in myGridCtrl.gridSetting  track by $index '>
            <span> {{grid.displayName}} </span>
            <div ng-if="grid.isFilter"> <input type='text' ng-model='myGridCtrl.search[grid.columnName]' class='form-control-col-md-3' placeholder="search"></div>
        </th>
    </tr>
    <tr ng-repeat='row in myGridCtrl.rowSetting | pagination:myGridCtrl.pageNo | filter:myGridCtrl.filterCriteria() track by $index'>
        <td ng-repeat='column in myGridCtrl.gridSetting track by $index'>{{row[column.columnName]}}
            <button ng-repeat='btn in column.action track by $index' class='btn btn-info' ng-click='myGridCtrl.delete({id:row.id})'>
         {{btn.button}}</button>
        </td>

    </tr>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="page in myGridCtrl.getPageCounts()"><a href="" ng-click="myGridCtrl.pageNo = page">{{page}}</a></li>
        <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>